@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>Помилка.</h1>
<p class="alert alert-danger">@ViewBag.ErrorMessage</p>
<a asp-controller="Home" asp-action="Index" class="btn btn-primary">OK</a>
