body {
}

.placesIndexImage {
    width: 100px;
}

.placesDetailsImage {
    width: 100%;
}

#places {
    padding: 10px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.placeCard {
    margin: 10px;
    padding: 5px;
    width: 30%;
    height: 200px;
}

.placeCard p {
    height: 60px;
    overflow: auto;
    text-align: center;
}

.photograph > img {
    margin-bottom: 5px;
    height: 130px;
    object-fit: contain;
}

.authorized {
    margin: 10px 0;
    display: flex;
    justify-content:space-between;
}

.markCard {
    margin: 20px 0;
    padding: 10px;
    overflow: auto;
    /*display: grid;
    grid-template-columns: 20% 1fr;*/
    display: flex;
    flex-wrap: wrap;
}


.markCard__mark {
    width: 20%;
}

.markCard__Commentary {
    flex-grow: 1;
}

