@model IEnumerable<Travel.Models.Place>

@{
    ViewData["Title"] = "Сайт подорожей";
}

@* <div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div> *@

<h1>Сайт подорожей</h1>
<h2>Цікаві місця</h2>

<div id="search">
    <form asp-controller="Home" asp-action="Search" method="get" class="custom-form">
        <input id="countrySearch" type="text" name="country" class="form-text" placeholder="Країна" />
        <input id="citySearch" type="text" name="city" class="form-text" placeholder="Місто" />
        <input type="submit" value="Пошук" class="btn btn-primary" />
    </form>
</div>

<div id="places">
    @if (Model != null)
    {
        @foreach (Place? place in Model)
        {
            <div class="placeCard shadow-lg">
                <a asp-action="Details" asp-route-id="@place.Id">
                    <div>
                        <div class="photograph">
                            @if (place.Data != null)
                            {
                                <img class="placesDetailsImage"
                                     src="data:image/jpeg;base64,@(Convert.ToBase64String(place.Data))" />
                            }
                        </div>
                        <p>@place.Name</p>
                    </div>
                </a>
            </div>
        }
    }
</div>

