@model Travel.Models.Mark

@{
    ViewData["Title"] = "Змінити";
}

<h1>Змінити</h1>

<h4>Оцінка</h4>
<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Edit" class="custom-form">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group" hidden>
                <label asp-for="ApplicationUserId" class="control-label"></label>
                <select asp-for="ApplicationUserId" class="form-control" asp-items="ViewBag.ApplicationUserId"></select>
                <span asp-validation-for="ApplicationUserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Point" class="control-label"></label>
                <input asp-for="Point" class="form-control" />
                <span asp-validation-for="Point" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Commentary" class="control-label"></label>
                <textarea asp-for="Commentary" class="form-control" ></textarea>
                <span asp-validation-for="Commentary" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PlaceId" class="control-label"></label>
                <select asp-for="PlaceId" class="form-control" asp-items="ViewBag.PlaceId"></select>
                <span asp-validation-for="PlaceId" class="text-danger"></span>
            </div>
            <div class="form-group" hidden>
                <label asp-for="Created" class="control-label"></label>
                <input asp-for="Created" class="form-control" />
                <span asp-validation-for="Created" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Зберегти" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Повернутись до списку</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
